# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.bmp binary
*.ico binary

# Archives / binaries
*.zip binary
*.tar binary
*.gz binary
*.bin binary
*.elf binary